
ul {
	list-style-type:none;	
	float:right;
	text-align: center;
	margin-top: 5px;
}
li {
	display: inline;
	padding-right: 20px;
	font-size: 12px;
	
}
a {
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration:underline;
}
li img {
	max-height: 25px;
	max-width: 30px;
	width: 15px;
	height: 15px;
}
li img:hover{
	
}
.signin {
	background-color:#0000FF;
	color: white;
	font-weight:bold;
	font-size:12px;
	padding: 7px;
	border-radius:3px;
}

div {
	display: block;
	margin-left: 30%;
	margin-right: auto;
}
body div img{
	width:300px;
	display: block;
	margin-left: auto;
	margin-right:auto;
	padding-top: 150px;
}
form {
	display: block;
	height: 30px;
}
.leftbutton{
	margin-left:15%;
	border: 1px solid #808080;
	font-size:11px;
	text-decoration: bold;
	padding: 5px;
	font-weight: bold;
}
.rightbutton{
	margin-left:2%;
	border: 1px solid #808080;
	font-size:11px;
	padding: 5px;
	font-weight: bold;
}
.searchbar {
	width: 500px;
	position: auto;
	border:1px solid #C6C6C6;
	height: 25px;
	margin-bottom:20px;
}
.searchbar:hover{
	border: 1px solid gray;
}


footer p{
	display:block;
	margin-left: 41%;
	margin-right: auto;
	margin-top: 110px;
	font-size:13px;
}

footer a {
	color: blue;
}

