
.header {
	background-color: #483D8B;
	height: 100px;
	max-width:100%;
	border-bottom:1px solid #f2f2f2;
	position:relative;
}

.header h1 {
	font-style: bold;
	color: white;
	font-size:39px;
	margin-left: 10%;
	float: left;
}
.header div ul{
	float: right;
	position: relative;
}
.header div ul ul{
	list-style: none;
	
}
.header div ul li {
	font-size: 11px;
	color: white;
	text-align: left;
	margin-top:3px;
}
#signinpw{
	width:150px;
	border: solid black 1px;
}
#name{
	width:150px;
	border: solid black 1px;
	padding-right:5%;
}
#c1{
	margin-top:1px;
}
.login {
	margin-top: 15px;
	margin-right: 30px;
	width:50px;
	height:20px;
	color:white;
	border:solid black 1px;
	background-color:  #483D8B;
	font-size:11px;
}
a {
	color:#E6E6FA;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}


.bottomleft {
	background-color:#e9eaed;
	width: 60%;
	height: 600px;
	text-align: center;
	font-size:30px;
	font-style: bold;
	color:#141823;
	position: relative;
	font-family:"Freight Sans Bold","lucida grande",tahoma,verdana,arial,sans-serif !important;
	float: left;
	clear: both;
	
	line-height: 36px;
	}

.bottomleft p{
	color:#141823;
	text-align: left;
	margin-top: 60px;
	margin-left:80px;
	padding-right:40px;
	color:#141823;
}
.bottomleft ul{
	color: #141823;
	text-align: left;
	margin-top: 60px;
	margin-left:50px;
	list-style: none;
	color:#141823;
}
.bottomleft li{
	font-size: 14px;
	padding-bottom: 50px;
	color:#141823;
}

.bottomright{
	background-color:#e9eaed;
	width: 40%;
	height: 600px;
	float:right;
	color:#141823;
	
	}
.bottomright h1{
	color:#141823;
	text-align: left;
	margin-top: 30px;
}

#fname {
	width: 40%;
	height: 30px;
	font-size:18px;
	
	
}
#lname {
	width: 40%;
	height: 30px;
	font-size:18px;
	
	
}
#email {
	width: 80%;
	height:30px;
	font-size:18px;
}
#password{
	width: 80%;
	height:30px;
	font-size:18px;
}
#signup {
	background-color:green;
	height: 50px;
	width: 200px;
	color: white;
}
.disclosure {
	font-size:10px;
	color:#141823;
}
